# Virtual Environment
venv/
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Build
build/
dist/
*.egg-info/

# Cache
.pytest_cache/
.cache/